:root {
  --color-white: #fff;
  --color-black: black;
  --color-dark-purp: #101;

  --border-radius-small: 3px;

  --spacing-medium: 20px;

  --font-family-main: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-dark-purp);
  font-family: var(--font-family-main);
}
